.close-button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px;
  cursor: pointer;;
  border-radius: 8px;
  border: none;
  color: $text-light;
  background: $cancel-color;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  margin: -7px -7px 0 0;

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
  }
}
