.cryptoTable__cell_button {
  background: $secondary-color;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    transform: scale(1.1);
    background: $primary-color;
  }
}
