.button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

@import "./_add/button_add.scss";
@import "./_close/button_close.scss";
@import "./_table-cell-add/button_table-cell-add.scss";
@import "./_table-cell-remove/button_table-cell-remove.scss";