.crypto-table__row_body {
  border-bottom: 1px solid $table-border-color;
  text-align: center;
  transition: 300ms;

  &:hover {
    background-color: $pagination-background-selected;
  }

  &:last-of-type {
    border-bottom: 2px solid $table-border-color;
  }
}
