$background-light: #ffffff;
$background-dark: #e8e8e8;
$background-footer: #c5c7c5;
$primary-color: #76c893;
$secondary-color: #cbf2d9;
$secondary-color-light: #e1f7e9;
$cancel-color: #e36f7b;
$cancel-color-light: #f5b0b7;
$text-dark: #000000;
$text-light: #f8f9fa;
$table-border-color: #dddddd;

$pagination-color: rgba(0, 0, 0, 0.87);
$pagination-background: rgba(0, 0, 0, 0.04);
$pagination-background-selected: rgba(0, 0, 0, 0.08);


$header-height: 100px;
$footer-height: 40px;
