body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

@import './core/style/constants.scss';
@import './core/style/fonts.scss';
@import './core/style/media.scss';
@import 'core/common/stack/stack';
@import './core/components/header/header.scss';
@import './core/components/footer/footer.scss';
@import './core/components/content/content.scss';
@import 'pages/currencyInfo/currencyInfo';
@import 'pages/mainCryptoTable/mainCryptoTable';
@import './core/components/pagination/pagination.scss';
@import 'core/common/closeButton/closeButton.scss';
@import './core/components/modalBriefcase/modalBriefcase.scss';
@import './core/components/modalAddCurrency/modalAddCurrency.scss';
@import 'core/common/preloader/preloader.scss';
@import 'core/common/addButton/addButton.scss';

