.modal__accept-button {
  margin: 20px 10px;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  background: $primary-color;
  color: $text-light;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  }
}

